@import "tailwindcss";

@theme {
  --color-brand-pink-light: #FFF1F1;
  --color-brand-pink: #F48FB1;
  --color-brand-pink-dark: #D81B60;
  --color-brand-peach: #FFE0B2;
  --font-sans: var(--font-quicksand);
  --font-caveat: var(--font-caveat);
  --font-typewriter: var(--font-courier-prime);
}

:root {
  --background: #FFF1F1;
  --foreground: #374151; /* gray-700 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
